body {
  background-color: black;
  color: #ffffff;
  display: grid;
  place-items: center;
}
.shape {
  background-color: #333;
  width: 100px;
  height: 10px;
}
.center {
  position: absolute;
  top: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center:hover {
  text-shadow: 0 0 10px white, 0 0 20px white;
  transition: 0.6s;
}
.tanggal {
  display: flex;
  gap: 10px;
  font-size: 2rem;
}

.clock {
  display: flex;
  gap: 10px;
  font-size: 5rem;
}
